.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
**/.venv/**
**/backend/.venv/**
**/vectorstore/**
**/__pycache__/**
**/*.pyc
**/.git/**
**/.env
node_modules/**
**/node_modules/**